div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 HackaThon @ EE 2014!
    p.lead Lets hack internet of things
    div#light

.container
  .row.text-center
    .col-sm-12
      div.container-div
        a.btn.btn-lg.btn-danger(href="/submit-idea") Submit or Join an idea


footer.footer
  .container
    p
      | HackTrack 2014
      = ' | '
      a(href='https://twitter.com/hacktrack_') @hacktrack_
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues