div(ng-include='"components/navbar/navbar.html"')
.container
  //- link(rel="stylesheet" href="/assets/css/flipclock.css")
  div.row.col-sm-12.text-center
      div#countdown
  .row
    //- div.text-center
    //-   img.bulb.inline(src='/assets/images/bulb.png')
    //-   h3  existing idea or create new

    div(ng-include='"app/idea/submit.html"')

    div.col-sm-12
      ul.nav
        li.inline(ng-repeat="idea in ideas")
          div.col-md-4.col-sm-12.clear-both
            div.col-sm-12.idea-container
              div.col-md-10.col-sm-12
                h4 {{idea.title}}
                hr.seperator
                p {{idea.description}}
              div.col-md-2.col-sm-12.idea-actions
                a.btn.btn-round.btn-join(ng-click="likeIdea(idea)" tooltip="like this")
                  span(ng-show="idea.liked_by.length>0") {{idea.liked_by.length}}
                a.originator(ng-href="{{idea.originator.link}}" tooltip="{{idea.originator.name}}")
                  img.btn-round(ng-src='{{idea.originator.image}}')


  //- script(src="/assets/js/flipclock.min.js")
  //- script(src="/assets/js/clock.js")
