.idea-container, .form-container{
	margin: 10px 5px;
	padding: 0px;
}

.idea-container{
	border: 1px solid lightgray;
    -webkit-transition: margin-top 2s, border .5s, height 2s; /* For Safari 3.1 to 6.0 */
    transition: margin-top 2s,  border .5s, height 2s;
}

.idea-container:hover{
	border: 1px solid red;
	max-height: 200px;
	background-color: rgba(255, 250, 0, 0.1);
}


.form-container{
	border: 1px solid skyblue;
}


.idea-title, .idea-description{
}

.idea-title{
}

.idea-description{
}

.form-control:focus{
	box-shadow: none !important;
	
}

.form-control{
	border:none !important;
	box-shadow: none !important;
	margin:0px !important;
	padding:5px !important;
}


.btn-join{
	background-image: url('/assets/images/favorite.png');
}

.btn-submit{
	background-image: url('/assets/images/add.png');
}

.btn-round{
	margin: 20px 0px;
	width:32px;
	height: 32px;
	border: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	border-radius: 16px;
	outline: none !important;
	opacity: .7;
}

.btn-round:hover{
	opacity: 1;
}

.help-block{
	margin: 0px;
}

.seperator{
	margin: 2px;
	padding: 0px;
}

.bulb{
	width: 64px;
}


#countdown{
	width: 620px;
	margin: 30px auto;
}