div.col-sm-12(ng-controller='IdeaCtrl')
  .has-error
      p.help-block(ng-show='form.title.$error.required && submitted')
        | Please enter the title of your idea.
      p.help-block(ng-show='form.description.$error.required && submitted')
        | Please enter the description of your idea.
      p.help-block {{ errors.other }}
  form.form(name='form', ng-submit='submitIdea(form)', novalidate='')
    div.col-sm-12.form-container
        div.col-sm-11
          input.idea-title.form-control(type='text', name='title', ng-model='newIdea.title', placeholder='Whats on your mind?' required)
          hr.seperator
          input.idea-description.form-control(type='text', name='description', ng-model='newIdea.description', placeholder='Would you like to describe it?' required)
        
        div.col-sm-1
          button.btn.btn-inverse.btn-lg.btn-round.btn-submit(type='submit' tooltip="create new")
            