div.col-md-12(ng-controller='SubmitIdeaCtrl')
  div.col-md-12.has-error
      p.help-block(ng-show='form.title.$error.required && submitted')
        | Please enter the title of your idea.
      p.help-block(ng-show='form.description.$error.required && submitted')
        | Please enter the description of your idea.
      p.help-block {{ errors.other }}
  
  form.form(name='form', ng-submit='submitIdea(form)', novalidate='')
    div.col-sm-12.clear-both
      div.form-container.col-sm-12
        div.col-md-11.col-sm-12
          input.col-sm-12.idea-title.form-control(type='text', name='title', ng-model='newIdea.title', placeholder='What would you like to create?' required)
          hr.seperator.col-sm-12
          textarea.idea-description.form-control(name='description', ng-model='newIdea.description', placeholder='Please describe it for others.' required)
        
        div.col-md-1.col-sm-12
          button.btn.btn-inverse.btn-lg.btn-round.btn-submit(type='submit' tooltip="create new")
            