div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-5
      h2.text-center Submit an Idea

      form.form(name='form', ng-submit='submitIdea(form)', novalidate='')
        .form-group
          label Title
          input.form-control(type='text', name='title', ng-model='idea.title' required)
        .form-group
          label Description
          textarea.form-control(name='description', ng-model='idea.description' required)

        .form-group.has-error
          p.help-block(ng-show='form.title.$error.required && submitted')
            | Please enter the title of your idea.
          p.help-block(ng-show='form.description.$error.required && submitted')
            | Please enter the description of your idea.
          p.help-block {{ errors.other }}

        div
          button.btn.btn-inverse.btn-lg.btn-login(type='submit')
            | Submit

    .col-sm-7
      h2.text-center Join existing Idea

      .container
        ul.nav
          li(ng-repeat="idea in ideas")
            div.idea-container
              h4 {{idea.title}}
              p {{idea.description}}