div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    div.text-center
      h3 Cheers, here are your ideas!
    div.col-sm-12
      ul.nav
        li.inline(ng-repeat="idea in myideas")
          div.col-sm-12.idea-container.clear-both
            .col-sm-11
              h4 {{idea.title}}
              hr.seperator
              p {{idea.description}}
            .col-sm-1
              a.btn.btn-round.btn-delete(ng-click="deleteIdea(idea)",tooltip="delete this idea")

    div(ng-include='"app/idea/submit.html"')