div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    div.text-center
      h3 Cheers, here are your ideas!

    div.col-sm-12
      ul.nav
        li(ng-repeat="idea in myideas")
          div.col-md-12.col-sm-12.clear-both
            div.col-sm-12.idea-container
              div.col-md-10.col-sm-12
                h4 {{idea.title}}
                hr.seperator
                p {{idea.description}}
              div.col-md-2.col-sm-12
              a.btn.btn-round.btn-delete(ng-click="deleteIdea(idea)",tooltip="delete this idea")

    div(ng-include='"app/idea/submit.html"')